{
    "map": {},
    "filename": "src/app.service.ts",
    "formatUsing": "typescript"
}
---
import { Injectable } from '@nestjs/common';

@Injectable()
export class AppService {
  getHello(): string {
    return 'Hello World!';
  }
}
